*{
    font-family: monospace;
    font-size: 18px;
}
body{
    background-color: azure;
}
h1{
    font-size: 48px;
    text-transform: uppercase;
}
th{
    background-color: lightblue;
    margin: 0px 0px 0px 0px;
}
#rowsBody:hover{
    background-color: lightgray;
    animation: pulse 1s infinite;
    transition: .1s;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}
tr:nth-child(even){
    background-color: azure;
}
tr:nth-child(odd){
    background-color: white;
}
#btn-create{
    font-size: 18px;
    text-transform: uppercase;
    background-color: lightgreen;
    border: 1px solid black;
    margin: 0 0px 5px 0;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
}
#btn-create:hover{
    background-color: lightsalmon;
    animation: pulse 1s infinite;
    transition: .3s;
}
#btn-findTrack{
    font-size: 18px;
    text-transform: uppercase;
    background-color:lightgreen;
    border: 1px solid black;
    margin: 0 0 5px 0;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
}
#btn-cancel{
    font-size: 18px;
    text-transform: uppercase;
    color:white;
    background-color: indianred;
    border: 1px solid black;
    margin: 0 0px 5px 0;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
}
#btn-cancel:hover{
    background-color: black;
    color:white;
    animation: pulse 1s infinite;
    transition: .3s;
}
#btn-findTrack:hover{
    background-color: lightsalmon;
    animation: pulse 1s infinite;
    transition: .3s;
}
#centerCell{
    text-align: center;
}
#createNewBox1, #createNewBox2, #createNewBox3, #createNewBox4, #createNewBox5{
    margin: 0 0 15px 0;
}
input{
    background-color: azure;
    border-color: lightgray;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: 1px dotted lightgray;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
